{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="container shadow py-4">
          
        
        <div class="content d-flex justify-content-between">

            <div class="container container-xl mt-5 w-100">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="">
                                <a href="{% url 'create' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i>
                                    <span>Add</span></a>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Date d'ajout</th>
                                    <th>Date de conseil</th>
                                    <th>Objet</th>
                                    <th>Nbr Enfants</th>
                                    <th>Economie</th>
                                    <th>Document</th>
                                    <th>Observation_ct</th>
                                    <th>Etat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>{{ role.nom }}</td>
                                    <td>{{ role.date }}</td>
                                    <td>{{ role.date_conseil }}</td>
                                    <td>{{ role.objet }}</td>
                                    <td>{{ role.enfants }}</td>
                                    <td>{{ role.economie }}</td>
                                    <td download>{{ role.document }}</td>
                                    <td>{{ role.observation_ct }}</td>
                                    <td>{{ role.etats }}</td>
            
            
                                </tr>
        
            
            
                            </tbody>
                        </table>
            
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock  %}